.logo-shopify{
    width: 45%;
    flex:1;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content:first baseline;
    margin: auto;
    height: 130px;
    width: auto;
    background-color: rgb(53, 160, 53);
    
}
h1{
    flex:2;
    font-weight: 600;
    font-size: 5vw;
    margin-left: -20%;
}
body{
    font-family: 'Roboto Slab', serif;
    background-color: rgb(177, 160, 160);
}
.main-obrazek{
    max-width: 100%;
    margin-top: 20px;
    margin-left: 10%;
    flex: 1;
}
.second-flex{
    display: flex;
    column-gap: 10%;

    
}
h2{
    flex:2;
}
button{
    padding: 20px 50px;
    font-size: 30px;
    background-color: #1e5799;
    border-radius: 10px;
    border-style: solid;
    border-color: #428bce;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-top: 5%;
}
button:hover{
    background-color: green;
}
button:active{
    background-color: rgb(32, 219, 32);
}